<div>
	{% set base = {'name' : 'Page d\'accueil', 'varName' :'base'} %}
	{% set base = null %}
	{% set navbar = [base] %}
	{% set params = {} %}
	{% for item in navbar %}
		{% if item is not null %}
			{% set params = params|merge({(item.varName): item.name}) %}
		{% endif %}
	{% endfor %}
<nav class="breadcrumb-nav mt-2" aria-label="breadcrumb">
  <ol class="breadcrumb">
  			<li class="breadcrumb-item">
			<a class=" btn fa fa-arrow-circle-o-left" style="color:red" href="javascript:void(0)" onclick="event.preventDefault(); window.history.back();">
			Retour</a>
			</li>	
	{% for item in navbar %}
		{% if (item is defined) and (item is not null) %}
         <li class="breadcrumb-item">
			<a class="btn fa" style="color:white" href="{{ path('app_' ~ item.varName, params) }}">{{ item.name|split('.')|first|upper }}
				</a>
                </li>	
        {% endif %}
	{% endfor %}
    </ol>
</nav>


</div>
