#NCpicturePreview img {
    margin-right: 10px;
    margin-bottom: 10px;
    max-height: 100px;
}
#TraceabilityPicturePreview img {
    margin-right: 10px;
    margin-bottom: 10px;
    max-height: 100px;
}


/* Create a new class for tooltip functionality without changing button appearance */
.tooltips-above {
    position: relative;
    /* les .tooltips-above deviennent référents */
    cursor: help;
}

/* Add a separate class for circular tooltips-above */
.tooltips-above-circle {
    border-radius: 50%;
}

/* Generate ::after pseudo-element on hover and focus */
.tooltips-above:hover::after,
.tooltips-above:focus::after {
    /* Display the content of the aria-label attribute */
    content: attr(aria-label);
    /* on affiche aria-label */
    position: absolute;
    top: -2.4em;
    left: 50%;
    transform: translateX(-50%);
    /* on centre horizontalement  */
    z-index: 1;
    /* pour s'afficher au dessus des éléments en position relative */
    white-space: nowrap;
    /* Allow text to wrap */
    padding: 5px 14px;
    background: #413219;
    color: #fff;
    border-radius: 4px;
    font-size: 1.2rem;
}

.tooltips-above[aria-label]:hover:before,
.tooltips-above[aria-label]:focus:before {
    content: "▼";
    position: absolute;
    top: -1em;
    left: 50%;
    transform: translateX(-50%);
    /* on centre horizontalement  */
    font-size: 20px;
    color: #413219;
}

/* pas de contour durant le :focus */
.tooltips-above[aria-label]:focus {
    outline: none;
}


.nice-toggle-input {
    --s: 25px;
    /* adjust this to control the size*/

    height: calc(var(--s) + var(--s)/5);
    width: auto;
    /* some browsers need this */
    aspect-ratio: 2.25;
    border-radius: var(--s);
    margin: calc(var(--s)/2);
    display: grid;
    cursor: pointer;
    background-color: #ff7a7a;
    box-sizing: content-box;
    overflow: hidden;
    transition: .3s .1s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.nice-toggle-input:before {
    content: "";
    padding: calc(var(--s)/10);
    --_g: radial-gradient(circle closest-side at calc(100% - var(--s)/2) 50%, #000 96%, #0000);
    background:
        var(--_g) 0 /var(--_p, var(--s)) 100% no-repeat content-box,
        var(--_g) var(--_p, 0)/var(--s) 100% no-repeat content-box,
        #fff;
    mix-blend-mode: darken;
    filter: blur(calc(var(--s)/12)) contrast(11);
    transition: .4s, background-position .4s .1s,
        padding cubic-bezier(0, calc(var(--_i, -1)*200), 1, calc(var(--_i, -1)*200)) .25s .1s;
}

.nice-toggle-input:checked {
    background-color: #85ff7a;
}

.nice-toggle-input:checked:before {
    padding: calc(var(--s)/10 + .05px) calc(var(--s)/10);
    --_p: 100%;
    --_i: 1;
}

.nice-toggle-input-body {
    background: #15202a;
    margin: 0;
    height: 100vh;
    display: grid;
    place-content: center;
    place-items: center;
}