{% extends 'base.html.twig' %}

{% block title %}
	Page d'Administration
{% endblock %}

{% block body %}

	<h1>
		Page d'Administration
	</h1>
	<div class="col-lg-8 col-12 mx-auto ">

		<div class="card border-0 shadow rounded-3 my-5">
			<div class="card-body">
				<div class="row">
					{{render(controller('App\\Controller\\AccountController::createAccount'))}}
				</div>
			</div>
		</div>
		<div class="card border-0 shadow rounded-3 my-5">
			<div class="card-body">
				<div class="row ">
					{% set fields = ['teamCreation', 'projectCreation', 'originCreation', 'uapCreation', 'anomalyTypeCreation', 'placeCreation', 'imcomeListCreation','productVersionCreation', 'productColorCreation', 'productCategoryCreation'] %}
					{% for field in fields %}
						<div class="card border-0 shadow rounded-3 my-2 bg-secondary">
							{{ render(controller('App\\Controller\\AdminController::' ~ field )) }}
						</div>
					{% endfor %}

				</div>
			</div>
		</div>
	</div>

{% endblock %}
